*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}

.nav{
    margin-top: 10px;
    /* margin-right: 10px; */
    display: flex;
    justify-content: end;
    gap: 40px;
    list-style-type: none;
}
.main{
    margin-top: 40px;
    width: 1000px;
}
p{
    margin-top: 20px;
    line-height: 25px;
    margin-bottom: 40px;
}

.button{
    color: white;
    background-color: palevioletred;
    padding: 10px;
}